{% extends 'app/base.html'%} {% block contenido %} {% load crispy_forms_tags %}

<div class="row" style="background-color: white; width: 1918px">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card" style="border: none">
      <h4 style="margin-top: 20px">Editar producto</h4>
      <hr />
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %} {{form | crispy }}

          <div class="d-flex justify-content-end">
            <input
              action="action"
              type="reset"
              onclick="window.history.go(-1); return false;"
              value="Cancelar"
              class="btn btn-secondary"
            />
            &nbsp;
            <input type="submit" value="Editar" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
