{% extends 'app/base.html'%} {% block js %}
<script>
  function eliminarProducto(id) {
    console.log(id);
    Swal.fire({
      title: "¿Estás seguro de eliminar este producto?",
      text: "No podrás revertir esta acción",
      icon: "warning",
      showCancelButton: true,
      cancelButtonText: "No, Cancelar",
      confirmButtonText: "Si, Eliminar",
      reverseButtons: true,
      confirmButtonColor: "#28a745",
      cancelButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminar-producto/" + id + "/";
      }
    });
  }
</script>
{% endblock %} {% block contenido %} {% load humanize %}
<div class="card">
  <div class="card-body">
    <h5 class="mb-3">Listado de productos</h5>
    <hr />
    <table
      class="table table-striped table-hover table-responsive-sm"
      style="color: black; background: white"
    >
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Marca</th>
        <th>Opciones</th>
      </tr>
      {% for p in entity %}
      <tr>
        <td>{{ p.nombre | title }}</td>
        <td>${{ p.precio | intcomma }}</td>
        <td>{{ p.marca | title }}</td>
        <td>
          {% if perms.app.change_producto %}
          <a
            href="{% url 'modify-product' p.id %}"
            class="btn btn-outline-success btn-sm"
            >Editar</a
          >
          {% endif %}
          {% if perms.app.delete_producto %}
          <a
            href="#"
            onClick="eliminarProducto({{ p.id }})"
            class="btn btn-outline-danger btn-sm"
            >Eliminar</a
          >
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
      <hr>
      
    <div>{% include 'app/paginator.html' %}</div>
  </div>
</div>
{% endblock %}
