{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Inicia sesión</title>
</head>
<body>
    <div class="col-12 col-md-6 offset-md-3 ">
        <div class="card aqua-gradient" style="height: 150px; background-color: #22222e; margin-top:10%;">
            <img
            class="logo"
            src="{% static 'app/img/pccubelogo.png' %}"
            style="width: 90px; position: absolute; bottom: 15%; left: 4%;"
          />
        </div>
        <div class="card-body" style="border: solid #0000002e; border-radius: 0px 0px 20px 20px / 0px 0px 26px 26px;">
            {% load crispy_forms_tags %}
            <!-- <div class="col-12 col-md-6 offset-md-3"> -->
                        <h4>Ingresa tus credenciales</h4>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form | crispy }}
                            <a href="{% url 'index' %}">Volver al inicio</a> | 
                            <a href="{% url 'register' %}">Registrate</a>
                            <input type="submit" value="Ingresar" class="btn btn-success float-right">
                           
                        </form>
                        <br>
            <!-- </div> -->
      </div>
    </div>
</body>
</html>