<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'app/img/pccubelogo.png' %}"
    />

    <link rel="stylesheet" href="{% static 'app/css/carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/navbar2.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/product.css' %}" />

    <title>PCube!</title>
  </head>
  <body>
    <!-- empieza navbar -->
    <nav class="navbar sticky-top">
      <div class="">
        <a class="navbar-brand">
          <img
            class="logo"
            src="{% static 'app/img/pccubelogo.png' %}"
            style="width: 50px; position: absolute; bottom: 20%"
          />
        </a>
        <ul class="nav" style="width: 100%; margin-left: 14%">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
          </li>
          {% if perms.app.add_product %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-product' %}"
              >Agregar producto</a
            >
          </li>
          {% endif %} {% if perms.app.view_producto %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list-products' %}"
              >Lista de productos</a
            >
          </li>
          {% endif %} {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-linkk"> Cerrar Sesión </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="margin-left: 8rem"
              >Usuario: @{{user.username}}</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-linkk"> Iniciar sesión </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'register' %}"
              style="margin-left: 8rem"
              >Registrate</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- termina navbar -->
    <div>{%block contenido %} {% endblock %}</div>
    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">
      <div style="background-color: #676eff">
        <div class="container">
          <div class="row py-4 d-flex align-items-center">
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
              style="margin-left: 17%"
            ></div>
          </div>
        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold" style="color: white">
              PCube
            </h6>
            <hr
              class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; border-color: #676eff"
            />
            <p style="color: white">
              PCube.cl es una empresa de computación, fundada en Santiago, en el
              año 2020. Nacimos como un pequeño emprendimiento familiar, el cual
              se fue desarrollando y creciendo con el tiempo. Al día de hoy
              PCube ofrece en su sitio web y tienda una experiencia de compra
              personalizada y segura.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->s
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color: white">
              Acceso Rápido
            </h6>
            <hr
              class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; border-color: #676eff"
            />
            <p>
              <a
                class="dark-grey-text"
                style="color: #676eff"
                href="{% url 'index' %}"
                >Inicio</a
              >
            </p>
            <p>
              <a
                class="dark-grey-text"
                style="color: #676eff"
                href="{% url 'products' %}"
                >Productos</a
              >
            </p>
            <p>
              <a
                class="dark-grey-text"
                style="color: #676eff"
                href="{% url 'contact' %}"
                >Contacto</a
              >
            </p>
          </div>

          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color: white">
              Contacto
            </h6>
            <hr
              class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; border-color: #676eff"
            />
            <p style="color: white">Santiago Centro, Huerfanos 123</p>
            <p style="color: white">contacto@pcube.cl</p>
            <p style="color: white">+569 1234 4567</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center text-black-50 py-3">
        © 2020 Copyright:
        <a
          class="dark-grey-text"
          href="{% url 'index' %}"
          style="color: #676eff"
        >
          PCUBE.CL</a
        >
      </div>
      <!-- Copyright -->
    </footer>

    <script src="{% static 'app/js/jquery-3.5.1.min.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% if messages %} {% for m in messages %}
    <script>
      Swal.fire({
        title: "Felicidades",
        text: "{{m}}",
        icon: "success",
      });
    </script>
    {% endfor%} {% endif %} {% block js %}{% endblock%}
  </body>
</html>
