{% extends 'app/base.html'%} {% load static %} {% block contenido%}
<section class="container py-5" style="color: white">
  <div class="card" style="background-color: transparent; border: none">
    <div class="card-body">
      <h3 style="margin-left: 20%">
        Quieres contactarnos? Mandanos un mensaje!
      </h3>
      {% load crispy_forms_tags %}
      <form action="" method="post" style="width: 580px; margin-left: 20%">
        {% csrf_token %} {{form | crispy }}

        <div class="d-flex justify-content-end">
          <input type="reset" value="Cancelar" class="btn btn-secondary" />
          &nbsp;
          <button type="submit" id="btnEnviar" class="btn btn-primary">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
  {{mensaje}}
</section>
{% endblock %}
