{% extends 'app/base.html'%} {% load static %} {% block contenido%} {{object_list}}
<section class="banner">
  <div
    id="myCarousel"
    class="carousel slide"
    data-ride="carousel"
    style="padding-top: 20px"
  >
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="carouselimg" src="{% static 'app/img/pc1.png' %}" />
        <div class="container" id="container">
          <h1>Todo lo que necesitas,está aquí </h1>
          <p class="carouseltxt">
            La calidad gráfica de algunos juegos cada vez nos sorprende más. El problema es que hace falta un ordenador realmente potente para poder ejecutarlos. ¿Buscas un PC gaming capaz de mover sin problema los títulos más punteros? No te pierdas este recopilatorio con las mejores opciones a tener en cuenta.
          </p>
          <a href="{% url 'products' %}" class="btn btn-lg btn-outline-light">Ver más</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carouselimg" src="{% static 'app/img/pc2.png'%}" />
        <div class="container" id="container">
          <h1>Alta definición</h1>
          <p class="carouseltxt">
            A la hora de escoger un ordenador de sobremesa para jugar, hay que tener en cuenta que hay dos componentes que son vitales para poder jugar a cualquier título en la máxima calidad. Y son la memoria RAM y la tarjeta gráfica
          </p>
          <a href="{% url 'products' %}" class="btn btn-lg btn-outline-light">Ver más</a>
        </div>
      </div>
    </div>
    <a
      href="#myCarousel"
      class="carousel-control-prev"
      role="button"
      data-slide="prev"
    >
      <span class="sr-only">Anterior</span>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a
      href="#myCarousel"
      class="carousel-control-next"
      role="button"
      data-slide="next"
    >
      <span class="sr-only">Siguiente</span>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</section>

<section class="products pt-10">
  {% load humanize %}
  <header class="text-center mb-5" style="padding-top: 140px; color: white">
    <h1 class="display-4 font-weight-bold">Productos PCube</h1>
    <p class="font-italic text-muted mb-0">
      Te mostramos toda la variedad para que puedas elegir
    </p>
  </header>
  <div class="container py-5">
    <div class="row pb-5 mb-4">
      {% for p in object_list|slice:":8" %}
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" style="padding-bottom: 20px">
        <!-- Card-->
        <div
          class="card rounded shadow-sm border-0 pb-10"
          style="height: 405px !important"
        >
          <div class="card-body p-4">
            {% if p.imagen %}
            <img
              src="{{p.imagen.url}}"
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              style="height: 160px"
            />

            <h5>
              <a
                href="{{ p.get_absolute_url }}"
                class="text-dark"
                style="background-color: transparent"
                >{{ p.nombre | title }}</a
              >
            </h5>
            <h6>
              ${{p.precio | intcomma }} <small>{{ p.marca | capfirst }}</small>
            </h6>

            <p class="small text-muted font-italic description">
              {{p.descripcion}}
            </p>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    <h5><a href="{% url 'products' %}" class="btn btn-outline-light">
      Ver todos los productos &rarr;</span
    ></a></h5>
  </div>
</section>

{% endblock %}
