{% extends 'app/base.html'%} {% load static %} {% block contenido %}
<section class="products pt-10">
  {% load humanize %}
  <header class="text-center mb-5" style="padding-top: 140px; color: white">
    <h1 class="display-4 font-weight-bold">Productos PCube</h1>
    <p class="font-italic text-muted mb-0">
      Te mostramos toda la variedad para que puedas elegir
    </p>
  </header>
  <div class="container py-5">
    <div class="row pb-5 mb-4">
      {% for p in object_list %}
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" style="padding-bottom: 20px">
        <!-- Card-->
        <div
          class="card rounded shadow-sm border-0 pb-10"
          style="height: 405px !important"
        >
          <div class="card-body p-4">
            {% if p.imagen %}
            <img
              src="{{p.imagen.url}}"
              alt=""
              class="img-fluid d-block mx-auto mb-3"
              style="height: 160px"
            />

            <h5>
              <a
                href="{{ p.get_absolute_url }}"
                class="text-dark"
                style="background-color: transparent"
                >{{ p.nombre | title }}</a
              >
            </h5>
            <h6>
              ${{p.precio | intcomma }} <small>{{ p.marca | capfirst }}</small>
            </h6>

            <p class="small text-muted font-italic description">
              {{p.descripcion}}
            </p>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
