{% extends 'app/base.html'%} {% load static %} {% block contenido %} 
<section class="mb-5" style="background-color: white">
  <div class="row" style="margin-right: 0px;">
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">             
                <img
                  src="{{ object.imagen.url}}"
                  class="img-fluid z-depth-1"
                  style="height: 600px;margin-left: 60px;"
                />
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="margin-top: 13rem; margin-left: -40px;">
        {% load humanize %}
      <h5>{{object.nombre}}</h5>
      <p class="mb-2 text-muted text-uppercase small">{{ object.marca }}</p>
      <p>
        <span class="mr-1"><strong>${{object.precio | intcomma }}</strong></span>
      </p>
      <p class="pt-1">
        {{object.descripcion}} </p>
    </div>
  </div>
</section>
{%endblock%}
