.carousel-item {
  height: 32rem;
  background: #22222e;
  color: #ffffff;
  position: relative;
  background-position: center;
  background-size: no-repeat;
}

#container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.carouseltxt {
  width: 40%;
}
.carouselimg {
  height: 500px;
  margin-right: 13%;
  float: right;
}
