* {
  font-family: "Cabin", sans-serif;
}
body {
  background-color: #22222e;
}
.container-fluid {
  background-color: #22222e;
}
.aqua-gradient {
  height: 300px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 51%, rgba(114, 156, 7, 1) 93%);
}