.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #22222e;
  color: #72748e;
}
.nav-link {
  color: #72748e;
}
.nav-link:hover {
  color: #ffffff;
}
.nav-item {
  justify-content: space-between;
}


.nav-linkk {
  color: #72748e;
  padding: .5rem 1rem;
  position: absolute;
  width: fit-content;
}
.nav-linkk:hover {
  color: #ffffff;
}
